# Ignore node_modules directory
node_modules/

# Ignore logs and debugging files
logs/
*.log
npm-debug.log*

# Ignore build output
dist/

# Ignore editor and IDE specific files
.vscode/
.idea/
*.iml

# Ignore OS-specific files
.DS_Store
Thumbs.db